name: VPS Live Quran Broadcast
on:
  workflow_dispatch:

jobs:
  live-quran:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Install Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y wget ffmpeg curl

      - name: Download Quran Audio Files
        run: |
          sudo mkdir -p /root/quran
          for i in $(seq -f "%03g" 1 14); do
            sudo wget -O /root/quran/$i.mp3 https://server12.mp3quran.net/maher/Almusshaf-Al-Mojawwad/$i.mp3
          done
          sudo ls -lh /root/quran

      - name: Download Background Image
        run: |
          sudo wget -O /root/quran/bg.jpg https://b.top4top.io/p_3709p4xqb0.jpg

      - name: Start Live Broadcast
        run: |
          echo "Starting random Quran live broadcast..."
          while true; do
            # pick random audio
            file=$(ls /root/quran/*.mp3 | shuf -n 1)
            echo "Now playing: $file"
            
            # broadcast with ffmpeg
            ffmpeg -loop 1 -i /root/quran/bg.jpg -i "$file" \
              -c:v libx264 -preset veryfast -tune stillimage -c:a aac -b:a 128k \
              -pix_fmt yuv420p -shortest \
              -f flv rtmps://live-api-s.facebook.com:443/rtmp/FB-122193418094584587-0-Ab4PZHhFBDkiOdKBBbZ_CwwV
          done
